.todoForm {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
  border-bottom: 1px solid #aaa;
}

.todoTitleInput {
  line-height: 20px;
  width: 100%;
  margin: 6px 0;
}

.todoDescriptionInput {
  width: 100%;
  margin: 0 0 6px 0;
}
